{% extends 'index.html' %}

{% block content %}  <div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">FinalTest</h1>
    <p class="mb-4">การพัฒนาเว็บแอพพลิเคชั่นด้วย Django โดยลักษณะของเว็บแอพพลิเคชั่น 4123305 การพัฒนาโปรแกรมขั้นสูง (1/2566) <a target="_blank"
            href="https://datatables.net">โดย อาจารย์พิศาล สุขขี</a></p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">รายชื่อพนักงานในแผนกจัดซื้อทั้งหมด</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ชื่อ</th>
                            <th>นามสกุล</th>
                            <th>เพศ</th>
                            <th>อายุ</th>
                            <th>ระดับการศึกษา</th>    
                            <th>แผนกงานที่สังกัด</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        {% for class in classes %}
                        <tr>
                            <td>{{class.name}}</td>
                            <td>{{class.lastname}}</td>
                            <td>{{class.gender}}</td>
                            <td>{{class.age}}</td>
                            <td>{{class.Educationlevel}}</td>
                            <td>{{class.department}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>{% endblock content %}
