{% extends 'index.html' %}

{% block content %}  <div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Homework</h1>
    <p class="mb-4">การพัฒนาเว็บแอพพลิเคชั่นด้วย Django โดยลักษณะของเว็บแอพพลิเคชั่น 4123305 การพัฒนาโปรแกรมขั้นสูง (1/2566) <a target="_blank"
            href="https://datatables.net">โดย อาจารย์พิศาล สุขขี</a></p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">ตารางรายวิชาหมวดหมู่วิชาศึกษาทั่วไป</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>รหัสวิชา</th>
                            <th>ชื่อวิชา</th>
                            <th>หน่วยกิต</th>
                            <th>ปีการศึกษา</th>
                            <th>ภาคเรียน</th>
                            <th>คุณครูประจำวิชา</th>
                            <th>หมวดหมู่รายวิชา</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        {% for class in classes %}
                        <tr>
                            <td>{{class.class_id}}</td>
                            <td>{{class.class_name}}</td>
                            <td>{{class.class_credit}}</td>
                            <td>{{class.class_year}}</td>
                            <td>{{class.semester}}</td>
                            <td>{{class.teacher}}</td>
                            <td>{{class.class_category}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>{% endblock content %}
